#cards {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

#cards a {
    text-decoration: none;
}

.row {
    width: 75%;
    margin: 1%;
}

a .card-title {
    color: black;
}

.card-description {
    margin-top: 1.5%;
}