#cards {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

#cards a {
    text-decoration: none;
}

.row {
    width: 75%;
    margin: 1%;
}