#blogs-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#blogs-container {
  width: 100%;
  max-width: 800px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  margin: 10px 0;
}

.card {
  width: 100%;
}

.card-description {
  margin-top: 1.5%;
}