main {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100%;
}

h2 {
	width: 100%;
}

#images {
	margin: 2%;
}

#img-upload-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

#img-upload-container form {
	margin-bottom: 2%;
}

#img-upload-container label, input, button {
	margin: 1% 0;
}

.editor-toolbar {
  display: flex;
  justify-content: center;
}

.editor-toolbar a {
  display: inline-block;
  margin-right: 5%;
}

#actions {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#actions button {
	width: 100%;
	margin-top: 1%;
}

#images-container img {
	width: 65%;
	height: 100%;
}