#blogs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.blog {
  width: 75%;
}

.btn-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn-group button {
  width: 48%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;  
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

main #deleted-blogs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

main #deleted-blogs h5 {
  width: 100%;
}

main #deleted-blogs .card {
  width: 100%;
}

main #deleted-blogs button {
  margin-bottom: 2%;
}

@media (max-width: 768px) {
  .btn-group button {
    font-size: 0.8rem;
  }
}

/* For even smaller screens, stack the buttons vertically */
@media (max-width: 480px) {
  .btn-group {
    flex-direction: column;
  }
  
  .btn-group button {
    width: 100%;
    margin-bottom: 10px;
  }
}