html, body, #root {
  height: 100%;
  background-color: #f0f0f0 !important;
  font-family: Verdana;
  text-align: center;
}

#root {
  width: 100%;
  display: flex;
}

body {
  display: flex;
  width: 100%;
}

/** {
  outline: 1px dashed red;
}*/

#home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#intro  {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#card-container {
  width: 100%;
}